NODE_ENV="production"
PORT="8000"
APP_NAME="magic-forever"
JWT_SECRET=
URL_APP_FRONTEND="http://localhost:3000/"
URL_APP_BACKEND="http://localhost:8000/backend/v1"
HASH=
DB_NAME=
DB_URI=
CACHE_URL=
JWT_HOURS_EXPIRE="48"

# SMTP configuration
SMTP_HOST="smtp.gmail.com"
SMTP_SECURE="false"
SMTP_PORT="587"
SMTP_USER=
SMTP_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=


# Jumpseller configuration
JUMPSELLER_LOGIN=
JUMPSELLER_AUTHTOKEN=
JUMPSELLER_API_URL=
JUMPSELLER_WEBHOOK_TOKEN=