#Application
PORT=3000
#Database
DB_URI=mongodb://localhost:27017/fullerton
DB_NAME=fullerton
#JWT
JWT_SECRET=
URL_APP=http://localhost:3000
#Fullerton
URL_FULLERTON=
CLIENT_ID_FULLERTON=
SECRET_KEY_FULLERTON=
HASH:
