NODE_ENV="production"
PORT="8000"
APP_NAME="scryfall-jumpseller"
JWT_SECRET=
URL_APP_FRONTEND="http://localhost:3000/"
URL_APP_BACKEND="http://localhost:8000/backend/v1"
HASH=
DB_NAME=
DB_URI=
CACHE_URL=
JWT_HOURS_EXPIRE="48"


# Jumpseller configuration
JUMPSELLER_LOGIN=
JUMPSELLER_AUTHTOKEN=
JUMPSELLER_API_URL=
JUMPSELLER_WEBHOOK_TOKEN=